<!-- 親テンプレートを読み込む-->
{% extends './base.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
<div class="container-fluid">
<div class="mt-5 text-center">
<div class="alert alert-primary alert-dismissible" role="alert">
<p style="margin-bottom:1em;"><h3><b>嵐の顔画像判定AIアプリ（作成者：いずみ）</b></h3></p>
<hr>
<h4>
<ol>
<li style="margin-bottom:1em;" align="left">人の顔を含む画像をアップロード後に「判定」ボタンを押してください。</li>
<li style="margin-bottom:1em;" align="left">ファイル画像の形式は<font color=red>「.jpg」</font>にしてください。</li>
<li style="margin-bottom:1em;" align="left">アップロードされた画像の中から顔を抽出し、AIが嵐の5人のうち誰に似ているかを判定します。</li>
<li style="margin-bottom:1em;" align="left">なるべく正面を向いた人の顔を含む画像をアップロードしてください。※顔が認識できなかった場合エラーになります。</li>
<li style="margin-bottom:1em;" align="left">画像を複数枚アップロードすることも可能です。</li
</ol>
</h4>
</div>
</div>
<hr>
<form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
<div style="display:inline-flex">
<input type="file" name="files[]" multiple>
</div>
<input type="submit" class="btn btn-lg btn-danger" value="判定">
{% csrf_token %}
</form>

{% if message %}
<div class="alert alert-danger" role="alert">
<h4><font color="red">{{message}}<br></font> </h4>
</div>
{% endif %}
<hr>
</div>
</div>
{% endblock content %}
